{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ name }} - Portofolio{% endblock title %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="site-header">
        <div class="navbar">
            <a href="{% url 'main:show_main' %}" class="text-wrapper">
                mrwaur.
            </a>

            <div class="frame">
                <a href="{% url 'main:show_main' %}" class="text-wrapper-2">Profile</a>
                <a href="{% url 'main:show_experience' %}" class="text-wrapper-2">Experience</a>
                <a href="{% url 'main:show_education' %}" class="text-wrapper-2">Education</a>
                <a href="{% url 'main:show_projects' %}" class="text-wrapper-2">Projects</a>
                <a href="{% url 'main:show_reviews' %}" class="text-wrapper-2">Reviews</a>

            </div>

            <div class="frame-2">
                {% if user.is_authenticated %}
                    <span class="nav-user">{{ user.username }}</span>
                    <a href="{% url 'main:logout' %}" class="text-wrapper-3">Logout</a>
                {% else %}
                    <a href="{% url 'main:login' %}" class="text-wrapper-3">Login</a>
                    <a href="{% url 'main:register' %}" class="text-wrapper-4">Register</a>
                {% endif %}
            </div>
            

        </div>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2026 {{ name }}. Fakultas Ilmu Komputer, Universitas Indonesia.</p>
        </div>
    </footer>

</body>
</html>