{% extends 'base.html' %}
{% load static %}
{% block content %}

        <section class="hero" id="profile">
            <div class="container hero-grid">
                
                <div class="hero-identity">
                    <p class="hero-kicker">Computer Science &hyphen; Universitas Indonesia</p>
                    <h1>{{ name }}</h1>
                </div>
                <div class="hero-photo">
                    <img class="avatar" src="/static/img/marwa-2.svg" alt="Photo of {{ name }}">
                </div>
                <div class="hero-details">
                    <p class="bio">{{ bio }}</p>
                    <div class="sesi-login">
                        <p class="bio">Sesi terakhir login: </p>
                        <p class="bio"><strong>{{ last_login }}</strong></p>
                    </div>

                    <div class="meta-row">
                        <dd class="button">{{ study_program }}</dd>

                        <div class="social-links">
                            <a href="https://github.com/kobisamarr" class="social-logo">
                                <img src="{% static 'icon/github.svg' %}" alt="github">
                            </a>

                            <a href="https://www.linkedin.com/in/marwa-muhlashon-645280379/" class="social-logo">
                                <img src="{% static 'icon/linkedin.svg' %}" alt="linkedin">
                            </a>

                            <a href="mailto:marwapacil@gmail.com" class="social-logo">
                                <img src="{% static 'icon/email.svg' %}" alt="email">
                            </a>

                            <a href="https://instagram.com/mrwaur/" class="social-logo">
                                <img src="{% static 'icon/instagram.svg' %}" alt="instagram">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="landing">
            <div class="container secondary-grid">
                <div>
                    <h3>My Cute Skills</h3>
                    <p class="description">I grew up as a nomaden person that slightly affects my thoughts about this dynamic life.</p>
                </div>
                <div class="container">
                    <div class="skill-card-layout">
                        <h4 class="skill-card">UI/UX Design</h4>
                        <h4 class="skill-card">Piano</h4>
                        <h4 class="skill-card">Crochet</h4>
                        <h4 class="skill-card">halo</h4>
                        <h4 class="skill-card">hi</h4>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}